<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="imagenes/globof.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
</head>


<body >
	<header th:replace="layout/layout :: header"></header>
	<div class="nube"></div>
	<div class="nube2"></div>
	<div class="nube3"></div>
	

	<!--Con la clase container de bootstrap permite centrar el contenido -->
	<div class="container-fluid contenedor-index" style="text-align:center;">
	<div style="position: absolute;left:35%;bottom:30%;z-index:5000;">
	<img src="images/logo.png">
	<hr>
	<h4 class="fiscalia">  Fiscalía - Buenos Aires - Argentina</h4>
    </div>


	</div>


</body>

</html>