<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">
			
			<h4 class="card-title">
			<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{/form}">Crear usuario</a></h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Dependencia</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario: ${usuarios}">
						<td th:text="${usuario.nombre}"></td>
						<td th:text="${usuario.apellido}"></td>
						<td th:text="${usuario.email}"></td>
						<td th:text="${usuario.dependenciaPrestaciones}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${usuario.id}" th:text="'Editar'"></a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${usuario.id}" th:text="'Eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
					</tr>
				</tbody>
			</table>
			
			<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>